@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lobster&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
}

/* add font styling */
body {
    font-family: 'Cabin', sans-serif;
}

a:hover {
    transition-duration: 0.1s;
    color: rgb(89, 68, 22);
    text-decoration: underline;
}

/* logo styling */

#logo {
    float: left;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

/* Styling nav links */

nav {
    float: right;
    width: 100%;
    padding-right: 5%;
}

#logo_link {
    margin-left: 5%;
}

#nav_links  {
    justify-content: center;
    width: 100%;
    float: right;
    margin-left: 5%;
    text-align: center;
}

 /* header styling */

header {
    padding-top: 1.5%;
    padding-bottom: 1%;
    height: 40px;
    text-align: end;
}

/* link styling */
a {
    color: black;
    text-decoration: none;
}

/* list styling */
li {
    width: 20%;
    font-size: 20px;
    list-style-type: none;
}

.active {
    text-decoration: underline;
}

/* dinder intro styling */

#dinder_intro {
    padding: 2%;
    margin-top: 4%;
    margin-right: 28%;
    float: right;
    position: relative;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.3);
    width: 200px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
}

/* nav links styling */

#nav_links {
    line-height: 30px;
    display: flex;
}

/* hero img styling */

#hero_img {
    height: 550px;
    width: 100%;
    background: url('../images/hero_img_dog2.jpg') no-repeat center center;
    background-size: cover;
}


/* Member interview styling - home page */

#interview_window {
    width: 80%;
    height: 550px;
    padding: 0 10%;
}

#interview_image_container {
    width: 300px;
    text-align: center;
    justify-content: center;
}

#member_img {
    width: 100%;
    height: 300px;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 40%;
}

#interview_text {
    width: 50%;
    height: 200px;
    float: right;
    font-size: 25px;
    margin-top: 15%;
    padding-right: 5%;
    padding-left: 5%;
}

#interview_text p b {
    font-size: 30px;
    float: right;
}

#interview_name {
    margin-top: 10%;
}

/* interview with founder on about page */

#founder_interview_window {
    width: 80%;
    height: 550px;
    padding: 0 10%;
}

#founder_interview_image_container {
    width: 300px;
    text-align: center;
    justify-content: center;
}

#founder_member_img {
    width: 100%;
    height: 300px;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 40%;
}

#founder_interview_text {
    width: 50%;
    height: 200px;
    float: right;
    font-size: 20px;
    margin-top: 15%;
    padding-right: 5%;
    padding-left: 5%;
    line-height: 30px;
}

#founder_interview_text p b {
    font-size: 30px;
    float: right;

}

/* find a match page styling */

#hero_match_img {
    height: 850px;
    width: 100%;
    background: url('../images/hero_match_img.jpg') no-repeat center center;
    background-size: cover;
}

/* footer styling */

footer {
    height: 40px;
    display: inline;
    text-align: center;
}

footer ul li {
    display: inline;
    margin-left: 7%;
    margin-right: 7%;
}

.social_icon {
    font-size: 35px;
}

#social_media_links {
    padding: 5% 0;
    margin-top: 5%;
}


/* about page */

/* about img styling */
#about_img {
    height: 550px;
    width: 100%;
    background: url('../images/about_hero.jpg') no-repeat center center;
    background-size: cover;
}

#about {
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    text-align: center;
    border-bottom: solid 1px;
}

#about h1 {
    font-family: 'Lobster', cursive;
}

#about p {
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    margin: 10% 0%;
}

/* sign up form 'Find Match!' */

.match_sign_up {
    padding: 3%;
    margin-top: 4%;
    margin-right: 10%;
    float: right;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 350px;
}

.signUp_input {
    line-height: 35px;
}

.signUp_input h3 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.text_input {
    height: 30px;
    width: 320px;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    outline: none;
    padding-left: 5%;
}

#find_match_button {
    border: solid 1px;
    padding: 10px 15px;
    float: right;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Lobster', cursive;
    font-size: 20px;
    transition-duration: 0.2s;
    margin: 17%;
}

#find_match_button:hover {
    background-color: #FFFFFF;
    color: black;
}

.comment {
    height: 100px;
    width: 320px;
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 3%;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    outline: none;
    padding: 5%;
}

#match_city {
    display: block;
    flex-direction: column;
 }

 .city_choice {
     display: flex;
     flex-direction: row;
 }

#match_city input {
    margin-left: 10%;
}

#match_city label {
    width: 100px;
}

/* hero img thank you page */

#thank_you_hero {
    height: 550px;
    width: 100%;
    background: url('../images/thank_you_img.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding-top: 10%;
}

/* thank you page font styling */

#thank_you_text h1 {
    font-family: 'Lobster', cursive;
    font-size: 90px;
    color: #000000;
}

#thank_you_text h2 {
    color: #FFFFFF;
    margin-top: 5%;
    font-family: 'Lobster', cursive;
    font-size: 35px;
    text-decoration: underline;
}

#thank_you_text h2:hover {
    transition-duration: 0.2s;
    color: rgb(54, 54, 54);
}

#thank_you_text p {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    margin-top: 5%;
}

@media screen and (max-width: 950px) {

/* list styling */
header {
    margin-bottom: 2%;
    margin-top: 1%;
    max-width: 100%;
}

#logo_link {
    margin: 0;
    margin-right: 5%;
}

nav {
    padding: 0;
}

#nav_links {
    float: right;
    margin-left: 5%;
    text-align: center;
}

.nav_link {
    margin-left: 5%;
}

li {
    width: 15%;
    font-size: 16px;
    list-style-type: none;
}

    /* Member interview styling - home page */

body {
    flex-wrap: wrap;
}

#interview_window {
    width: 80%;
    height: 350px;
    padding: 0 10%;
    align-items: center;
}

#interview_image_container {
    margin-left: 50%;
    margin-right: 5%;
    border-radius: 50%;
}

#member_img {
    max-width: 50%;
    height: 150px;
}

#interview_text {
    width: 50%;
    height: 150px;
    float: left;
    font-size: 20px;
}

#interview_text p b {
    font-size: 25px;
    float: left;
}

#about {
    width: 70%;
    margin-left: 15%;
}

#about h1 {
    font-size: 30px;
}

#about p {
    font-size: 20px;
    line-height: 30px;
}

/* founder interview */

#founder_interview_window {
    width: 80%;
    height: 350px;
    padding: 0 10%;
    align-items: center;
}

#founder_interview_image_container {
    margin-left: 50%;
    margin-right: 5%;
    border-radius: 50%;
}

#founder_member_img {
    max-width: 50%;
    height: 150px;

}

#founder_interview_text {
    width: 50%;
    height: 150px;
    float: left;
    font-size: 17px;
    line-height: 30px;
}

#founder_interview_text p b {
    font-size: 25px;
    float: left;
}

}

@media screen and (max-width: 800px) {
   
    body {
        width: 100%;
    }

    #interview_window {
        column-count: 1;
    }

    #interview_text {
        height: 150px;
        float: left;
        font-size: 18px;
    }

    #about h1 {
        font-size: 25px;
    }
    
    #about p {
        font-size: 17px;
        line-height: 25px;
    }
}

@media screen and (max-width: 605px) {

    header {
        height: 138px;
        float: left;
        margin-left: 2%;
        margin-top: 3%;
    }

    #logo_link {
        padding-bottom: 35%;
    }

    #nav_links {
        display: block;
        margin-left: 3%;
    }
    
    .nav_link {
        margin-left: 0;
        width: 120px;
        text-align: left;
        font-size: 20px;
        padding-top: 10%;
        border-bottom: solid 1px;
    }

    #hero_img {
        height: 450px;
        width: 100%;
        background: url('../images/phone_hero_img.jpg') no-repeat center center;
        background-size: cover;
    }

    #dinder_intro {
        margin: 0;
        margin-top: 50%;
        margin-right: 5%;
    }

    #member_img {
        margin-top: 8%;
        margin-left: 45%;
        margin-right: 5%;
    }

    #interview_image_container {
        border-radius: 50%;
        margin: 0;
        text-align: center;
    }

    #interview_text {
        height: 150px;
        width: 100%;
        font-size: 18px;
        position: relative;
    }

    #interview_text p b {
        font-size: 21px;
        float: left;
    }

    #interview_window {
        height: 400px;
        column-count: 1;
        display: flex;
        flex-direction: column;
    }

    /* founder interview */

    #founder_interview_image_container {
        border-radius: 50%;
        margin: 0;
        text-align: center;
        margin-bottom: 20%;
        margin-top: 15%;
    }

    #founder_interview_text {
        height: 150px;
        width: 90%;
        font-size: 17px;
        position: relative;
        text-align: justify;
    }

    #founder_interview_text p b {
        font-size: 21px;
        float: left;
    }

    #founder_interview_window {
        height: 320px;
        column-count: 1;
        display: flex;
        flex-direction: column;
        margin-bottom: 30%;
    }

    /* about page */


    /* about page img styling */
    #about_img {
    height: 750px;
    width: 100%;
    background: url('../images/about_pic.jpg') no-repeat center center;
    background-size: cover; 
    }

    #about p {
        text-align: justify;
        font-size: 16px;
    }


    /* match submit form */

    #hero_match_img {
        height: 1000px;
        width: 100%;
        background: url('../images/sign_up_img_mobile.jpeg') no-repeat center center;
        background-size: cover;
    }

    .match_sign_up {
        max-width: 300px;
        margin-top: 15%;
        float: inline-start;
        padding: 8%;
        display: flex;
        flex-direction: column;
    }


    .text_input {
        width: 190px;
        display: flex;
        flex-direction: column;
        margin-right: 5%;
    }

    #match_interest {
        height: 150px;
    }

    .comment {
        width: 180px;
    }

    #find_match_button {
        float: none;
    }

    /* thank you page */

    /* thank you page font styling */

    #thank_you_text h1 {
        font-size: 50px;
    }

    #thank_you_text h2 {
        font-size: 25px;
    }

    #thank_you_text p {
        margin-top: 10%;
        font-size: 15px;
    }

    #thank_you_hero {
        line-height: 60px;
    }

    /* thank you page hero img */
        #thank_you_hero {
        
    }

}