@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lobster&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
}

/* add font styling */
body {
    font-family: 'Cabin', sans-serif;
}

/* logo styling */

#logo {
    float: left;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

/* Styling nav links */

nav {
    float: right;
    width: 100%;
    padding-right: 5%;
}

#logo_link {
    margin-left: 5%;
}

#nav_links  {
    justify-content: center;
    width: 100%;
    float: right;
    margin-left: 5%;
    text-align: center;
}

 /* header styling */

header {
    padding-top: 1.5%;
    padding-bottom: 1%;
    height: 40px;
    text-align: end;
}

/* link styling */
a {
    color: black;
    text-decoration: none;
}

/* list styling */
li {
    width: 20%;
    font-size: 20px;
    list-style-type: none;
}

.active {
    text-decoration: underline;
}


/* nav links styling */

#nav_links {
    line-height: 30px;
    display: flex;
}

/* hero img styling */

#hero_img {
    height: 550px;
    width: 100%;
    background: url('../assets/images/hero_img_dog2.jpg') no-repeat center center;
    background-size: cover;
}


/* Member interview styling - home page */

#interview_window {
    width: 80%;
    height: 550px;
    padding: 0 10%;
}

#interview_image_container {
    width: 300px;
    text-align: center;
    justify-content: center;
}

#member_img {
    width: 100%;
    height: 300px;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 40%;
}

#interview_text {
    width: 50%;
    height: 200px;
    float: right;
    font-size: 25px;
    margin-top: 15%;
    padding-right: 5%;
    padding-left: 5%;
}

#interview_text p b {
    font-size: 30px;
    float: right;
}

/* footer styling */

footer {
    height: 40px;
    display: inline;
    text-align: center;
}

footer ul li {
    display: inline;
    margin-left: 7%;
    margin-right: 7%;
}

.social_icon {
    font-size: 35px;
}

#social_media_links {
    padding: 5% 0;
}


/* about page */

/* about img styling */
#about_img {
    height: 550px;
    width: 100%;
    background: url('../assets/images/about_hero.jpg') no-repeat center center;
    background-size: cover;
}

#about {
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    text-align: center;
}

#about p {
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    margin: 10% 0%;
}

@media screen and (max-width: 950px) {

/* list styling */
header {
    margin-bottom: 2%;
    margin-top: 1%;
    max-width: 100%;
}

#logo_link {
    margin: 0;
    margin-right: 5%;
}

nav {
    padding: 0;
}

#nav_links {
    float: right;
    margin-left: 5%;
    text-align: center;
}

.nav_link {
    margin-left: 5%;
}

li {
    width: 15%;
    font-size: 16px;
    list-style-type: none;
}

    /* Member interview styling - home page */

body {
    flex-wrap: wrap;
}

#interview_window {
    width: 80%;
    height: 350px;
    padding: 0 10%;
    align-items: center;
}

#interview_image_container {
    margin-left: 50%;
    margin-right: 5%;
    border-radius: 50%;
}

#member_img {
    max-width: 50%;
    height: 150px;

}

#interview_text {
    width: 50%;
    height: 150px;
    float: left;
    font-size: 20px;
}

#interview_text p b {
    font-size: 25px;
    float: left;
}

#about {
    width: 70%;
    margin-left: 15%;
}

#about h1 {
    font-size: 30px;
}

#about p {
    font-size: 20px;
    line-height: 30px;
}

}

@media screen and (max-width: 800px) {
   
    body {
        width: 100%;
    }

    #interview_window {
        column-count: 1;
    }

    #interview_text {
        height: 150px;
        float: left;
        font-size: 18px;
    }

    #about h1 {
        font-size: 25px;
    }
    
    #about p {
        font-size: 17px;
        line-height: 25px;
    }
}

@media screen and (max-width: 605px) {

    header {
        height: 138px;
        float: left;
        margin-left: 2%;
        margin-top: 3%;
    }

    #logo_link {
        padding-bottom: 35%;
    }

    #nav_links {
        display: block;
        margin-left: 3%;
    }
    
    .nav_link {
        margin-left: 0;
        width: 120px;
        text-align: left;
        font-size: 20px;
        padding-top: 10%;
        border-bottom: solid 1px;
    }

    #hero_img {
        height: 450px;
        width: 100%;
        background: url('../assets/images/phone_hero_img.jpg') no-repeat center center;
        background-size: cover;
    }

    #member_img {
        margin-top: 8%;
        margin-left: 45%;
        margin-right: 5%;
    }

    #interview_image_container {
        border-radius: 50%;
        margin: 0;
        text-align: center;
    }

    #interview_text {
        height: 150px;
        width: 100%;
        font-size: 18px;
        position: relative;
    }

    #interview_text p b {
        font-size: 21px;
        float: left;
    }

    #interview_window {
        height: 400px;
        column-count: 1;
        display: flex;
        flex-direction: column;
    }

    /* about page */


    /* about page img styling */
    #about_img {
    height: 650px;
    width: 100%;
    background: url('../assets/images/about_pic.jpg') no-repeat center center;
    background-size: cover;
}



}