* {
    border: none;
    margin: 0;
    padding: 0;
}

/* logo styling */

#logo {
    float: left;
}

/* Styling nav links */

nav {
    float: right;
}

header {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    height: 40px;
}