@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lobster&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
}

/* add font styling */
body {
    font-family: 'Cabin', sans-serif;
}

/* logo styling */

#logo {
    float: left;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

/* Styling nav links */

nav {
    float: right;
    width: 100%;
    padding-right: 5%;
}

#nav_links  {
    justify-content: center;
    width: 100%;
}



 /* header styling */

header {
    padding-top: 1.5%;
    padding-bottom: 1%;
    height: 40px;
    text-align: end;
}

/* link styling */
a {
    color: black;
    text-decoration: none;
}

/* list styling */
li {
    width: 20%;
    font-size: 25px;
    list-style-type: none;
}

.active {
    text-decoration: underline;
}


/* nav links styling */

#nav_links {
    line-height: 30px;
    display: flex;
}

/* hero img styling */

#hero_img {
    height: 550px;
    width: 100%;
    background: url('../assets/images/hero_img_dog2.jpg') no-repeat center center;
    background-size: cover;
}

/* footer styling */

footer {
    height: 40px;
    display: inline;
    text-align: center;
}

footer ul li {
    display: inline;
    margin-left: 7%;
    margin-right: 7%;
}

.social_icon {
    font-size: 35px;
}